<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>

<div id="wrap">
    <h1 th:text="index"></h1>

        <br />
        <br />
        <br />
        <h1>管理系统</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


</div>

</body>
</html>