<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/styles/login.css" />
</head>
<body>

<div id="loginWrap">
    <h1 th:text="index"></h1>

    <form action="/web/login/success" method="post">
        <p>
            <label>登录名111</label>
            <input type="text" name="username" />
        </p>
        <p>
            <label>密码</label>
            <input type="password" name="password"/>
        </p>
        <p>
            <input type="submit" value="submit" />
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </form>

</div>

</body>
</html>