.wrap{
  border:1px solid green;
  font-size: 25px;
  background-image: url("/images/index/bg.jpg");
  background-repeat: repeat;
  opacity: 0.8;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}